{{ define "content" }}

<main class="content contentpost" role="main">
  <form role="form" action="/post/update" method="post">
  <h1>Edit post</h1>
  <div class="form-group">
    <textarea class="justified" name="title" id="title" placeholder="Title" rows="1">{{.Title}}</textarea><br/>
    <textarea class="justified" name="slug" id="slug" placeholder="Slug" rows="1">{{.Slug}}</textarea><br/>
    <textarea class = "justified" name="content" id="content" placeholder="Content" rows="5">{{.Content}}</textarea><br/>
    <input type="hidden" name="html" id="html" />
    <button class="justified" type="submit">Save</button><br/>
  </div>
</form>
</main>

<<script>
  $(document).ready(function(){
    var simplemde = new SimpleMDE({ element: $("#content")[0] });
    simplemde.codemirror.on("change", function(){
      $("#html").val(simplemde.options.previewRender(simplemde.value()));
    });
});
</script>
{{ end }}