{{ define "content" }}

<main class="contentlist" role="main">
	<section class="contentlist_inner">
		{{ range . }}
		<article itemscope itemtype="http://schema.org/BlogPosting" role="article" class="post_item">
			<header class="post_item_header">
				<h2 itemprop="name" class="post_item_title">
					<a href="/post?id={{ .Slug }}" itemprop="url" data-pjax title="{{ .Title }}">
						{{ .Title }}
					</a>
				</h2>
			</header>
			<section itemprop="description" class="post_item_excerpt">
				<p>{{ .Summary }}&hellip;&nbsp;<a href="/post?id={{ .Slug }}" itemprop="url">»</a></p>
			</section>
			<footer class="post_item_footer">
				<ul class="post_item_meta_list">
					<li class="post_item_meta_item">
						<time datetime="2012-01-01" itemprop="datePublished">{{ .DateCreated}} {{.ID}}</time>
					</li>
				</ul>
			</footer>
		</article>
		{{ end }}
	</section>
</main>

{{ end }}