{{ define "content" }}

<main class="content contentpost" role="main">
  <form role="form" action="/post/create" method="post">
  <h1>New post</h1>
  <div class="form-group">
    <textarea class="justified" name="title" id="title" placeholder="Title" rows="1"></textarea><br/>
    <textarea class="justified" name="slug" id="slug" placeholder="Slug" rows="1"></textarea><br/>
    <textarea class = "justified" name="content" id="content" placeholder="Content" rows="5"></textarea><br/>
    <textarea class = "justified" name="markdown" id="markdown" placeholder="Markdown" rows="5"></textarea><br/>
    <button class="justified" type="submit">Save</button>
  </div>
</form>
</main>

<script>
  $(document).ready(function(){
    $('#content').autosize();   
});
</script>
{{ end }}