{{ define "navbar" }}
<header class="sidebar" style="background-image: url(/static/images/blogCover.jpg)">
  <div class="sidebar_inner">
      <div class="sidebar_header">
          <div class="sidebar_userimage" style="background-image: url(/static/images/blogLogo.jpg)"></div>
          <h1 class="sidebar_title">Cherry blog</h1>
      </div>
      <div class="sidebar_symbols">
          <a href="http://www.github.com" target="_blank" title="GitHub"><i class="fa fa-github-square fa-lg sidebar_symbol github_symbol"></i></a>
          <a href="http://www.linkedin.com" target="_blank" title="LinkedIn"><i class="fa fa-linkedin-square fa-lg sidebar_symbol linkedin_symbol"></i></a>
      </div>
      <h2 class="sidebar_link"><a href="/">Blog</a></h2>
      <h2 class="sidebar_link"><a href="/page?id=about">About</a></h2>
      <h2 class="sidebar_link"><a href="/page?id=projects">Projects</a></h2>
  </div>
</header>
{{ end }}